apiVersion: apps/v1
kind: Deployment
metadata:
 name: webapp-deploy
 labels:
   app: webapp
spec:
 replicas: 1
 selector:
   matchLabels:
     app: webapp
 template:
   metadata:
     labels:
       app: webapp
   spec:
     containers:
       - name: webapp
         image: IMAGE_WEBAPP
         ports:
           - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
 name: webapp-svc
spec:
 type: LoadBalancer
 selector:
   app: webapp
 ports:
   - port: 80
     targetPort: 80
