name: Build and Deploy to AKS
on:
 push:
   branches:
     - main
env:
 IMAGE_NAME: webapp
 DEPLOY_FILE: deploy-service.yaml
jobs:
 build-and-deploy:
   runs-on: ubuntu-latest
   steps:
   # Checkout
   - name: Checkout repository
     uses: actions/checkout@v4
   # Login to ACR
   - name: Login to Azure Container Registry
     uses: docker/login-action@v3
     with:
       registry: ${{ secrets.ACR_LOGIN_SERVER }}
       username: ${{ secrets.ACR_USERNAME }}
       password: ${{ secrets.ACR_PASSWORD }}
   # Build & Push Images
   - name: Build and push image
     run: |
       TAG=${{ secrets.ACR_LOGIN_SERVER }}/${IMAGE_NAME}:${{ github.run_number }}
       echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV
       docker build -t $TAG .
       docker push $TAG
   # Install kubectl
   - name: Install kubectl
     uses: azure/setup-kubectl@v4
     with:
       version: 'latest'
   # Configure kubeconfig
   - name: Configure kubeconfig
     run: |
       echo "${{ secrets.KUBECONFIG }}" > kubeconfig
       echo "KUBECONFIG=$PWD/kubeconfig" >> $GITHUB_ENV
   # Deploy
   - name: Deploy to AKS
     run: |
       sed -i "s|IMAGE_PLACEHOLDER|${IMAGE_TAG}|g" $DEPLOY_FILE
       kubectl apply -f $DEPLOY_FILE --validate=false
       kubectl rollout status deployment/webapp-deploy
