name: Build and Deploy to AKS
on:
 push:
   branches:
     - main
env:
 IMAGE_NAME: webapp     # <-- NAME OF YOUR IMAGE (keep simple)
 DEPLOY_FILE: deploy-service.yaml
jobs:
 build-and-deploy:
   runs-on: ubuntu-latest
   steps:
   # ----------------------------
   # CHECKOUT CODE
   # ---------------------------
   - name: Checkout repository
     uses: actions/checkout@v4
   # ---------------------------
   # LOGIN TO ACR
   # ---------------------------
   - name: Login to Azure Container Registry
     uses: docker/login-action@v3
     with:
       registry: ${{ secrets.ACR_LOGIN_SERVER }}
       username: ${{ secrets.ACR_USERNAME }}
       password: ${{ secrets.ACR_PASSWORD }}
   # ---------------------------
   # BUILD & PUSH IMAGE
   # ---------------------------
   - name: Build and push image
     run: |
       TAG=${{ secrets.ACR_LOGIN_SERVER }}/${IMAGE_NAME}:${{ github.run_number }}
       echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV
       docker build -t $TAG .
       docker push $TAG
   # ---------------------------
   # INSTALL KUBECTL
   # ---------------------------
   - name: Install kubectl
     uses: azure/setup-kubectl@v4
     with:
       version: 'latest'
   # ---------------------------
   # SETUP KUBECONFIG FROM SECRET
   # ---------------------------
   - name: Configure kubeconfig
     run: |
       echo "${{ secrets.KUBECONFIG16 }}" > kubeconfig
       export KUBECONFIG=kubeconfig
   # ---------------------------
   # DEPLOY TO AKS
   # ---------------------------
   - name: Deploy to AKS
     run: |
       sed -i "s|IMAGE_PLACEHOLDER|${IMAGE_TAG}|g" $DEPLOY_FILE
       kubectl apply -f $DEPLOY_FILE
       kubectl rollout status deployment/webapp-deploy
